<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- the targets to write to -->
    <targets>
        <!-- write logs to file  -->
        <target xsi:type="File" name="allfile" fileName="${currentdir}\logs\${shortdate}\general.log" layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}" />
        <target xsi:type="File" name="application" fileName="${currentdir}\logs\${shortdate}\application.log" layout="${longdate} ${uppercase:${level}} ${message}" />
        <target xsi:type="File" name="errors" fileName="${currentdir}\logs\${shortdate}\errors.log" layout="${longdate} ${uppercase:${level}} ${message}" />
        <target xsi:type="File" name="monitoring" fileName="${currentdir}\logs\${shortdate}\monitoring.log" layout="${longdate} ${uppercase:${level}} ${message}" />
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <!--All logs, including from Microsoft-->
        <logger name="*" minlevel="Trace" writeTo="allfile" />
        <!--Skip non-critical Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" maxLevel="Info" final="true" />

        <logger name="monitoring" maxLevel="Info" writeTo="monitoring" />
        <logger name="application" maxLevel="Info" writeTo="application" />
        <logger name="errors" minlevel="Error" writeTo="errors" />
    </rules>
</nlog>